<div class="scheduled-queries">
  <div class="table-header">
    <h2>Scheduled Queries</h2>
    <button class="add-button" (click)="onAddQuery()">Add</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Query Name</th>
        <th>Interval</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let query of queries">
        <td>{{ query.name }}</td>
        <td>Every {{ formatInterval(query.interval) }}</td>
        <td>
          <button class="remove-button" (click)="onRemoveQuery(query)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
