<div class="dialog-container">
  <h2>Add Query</h2>

  <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="queryName">Query Name</label>
      <input
        id="queryName"
        type="text"
        formControlName="queryName"
        placeholder="Enter Query Name"
        class="full-width"
        [class.invalid]="
          queryForm.get('queryName')?.invalid &&
          queryForm.get('queryName')?.touched
        "
      />
      <div
        class="error-message"
        *ngIf="
          queryForm.get('queryName')?.invalid &&
          queryForm.get('queryName')?.touched
        "
      >
        Query name is required
      </div>
    </div>

    <div class="form-field">
      <label for="interval">Update Interval</label>
      <select
        id="interval"
        formControlName="selectedInterval"
        class="full-width"
      >
        <option value="" disabled>Choose Interval</option>
        <option *ngFor="let interval of intervals" [value]="interval.value">
          {{ interval.label }}
        </option>
      </select>
    </div>

    <div class="form-field">
      <label for="api">API</label>
      <select
        id="api"
        formControlName="selectedApi"
        (ngModelChange)="onApiSelect($event)"
        class="full-width"
      >
        <option value="" disabled>Choose API</option>
        <option *ngFor="let api of apis" [ngValue]="api">
          {{ api.name }}
        </option>
      </select>
    </div>

    <ng-container *ngIf="selectedApi">
      <div
        class="parameter-group"
        *ngFor="let param of selectedParameters; let i = index"
      >
        <div class="form-field parameter-name">
          <label for="parameter-{{ i }}">Parameter {{ i + 1 }}</label>
          <select
            id="parameter-{{ i }}"
            formControlName="selectedParameters"
            class="full-width"
          >
            <option value="" disabled>Choose Parameter</option>
            <option
              *ngFor="let apiParam of selectedApi.parameters"
              [value]="apiParam.name"
            >
              {{ apiParam.name }}
            </option>
          </select>
        </div>
        <div class="form-field parameter-value">
          <label for="value-{{ i }}">Value</label>
          <input
            id="value-{{ i }}"
            type="text"
            formControlName="selectedParameters"
            placeholder="Enter Value"
            class="full-width"
          />
        </div>
      </div>

      <div class="form-field">
        <label for="attributes">Response Attributes</label>
        <select
          id="attributes"
          formControlName="selectedAttributes"
          multiple
          class="full-width"
          size="4"
        >
          <option
            *ngFor="let attr of selectedApi.availableAttributes"
            [value]="attr"
          >
            {{ attr }}
          </option>
        </select>
      </div>
    </ng-container>

    <div class="dialog-actions">
      <button type="button" class="cancel-button" (click)="onCancel()">
        Cancel
      </button>
      <button type="submit" class="save-button" [disabled]="!queryForm.valid">
        Save
      </button>
    </div>
  </form>
</div>
