<div class="dialog-container">
  <h2>Add Query</h2>

  <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <input 
        type="text" 
        formControlName="queryName" 
        placeholder="Enter Query Name"
        class="full-width">
    </div>

    <div class="form-field">
      <select formControlName="selectedInterval" class="full-width">
        <option value="" disabled>Choose Interval</option>
        <option *ngFor="let interval of intervals" [value]="interval.value">
          {{ interval.label }}
        </option>
      </select>
    </div>

    <div class="form-field">
      <select 
        formControlName="selectedApi" 
        (ngModelChange)="onApiSelect($event)"
        class="full-width">
        <option value="" disabled>Choose API</option>
        <option *ngFor="let api of apis" [ngValue]="api">
          {{ api.name }}
        </option>
      </select>
    </div>

    <ng-container *ngIf="selectedApi">
      <div class="parameter-group" *ngFor="let param of selectedParameters; let i = index">
        <div class="form-field parameter-name">
          <select formControlName="selectedParameters" class="full-width">
            <option value="" disabled>Choose Parameter</option>
            <option *ngFor="let apiParam of selectedApi.parameters" [value]="apiParam.name">
              {{ apiParam.name }}
            </option>
          </select>
        </div>
        <div class="form-field parameter-value">
          <input 
            type="text" 
            formControlName="selectedParameters" 
            placeholder="Enter Value"
            class="full-width">
        </div>
      </div>

      <div class="form-field">
        <select 
          formControlName="selectedAttributes" 
          multiple
          class="full-width">
          <option value="" disabled>Choose Response Attributes</option>
          <option *ngFor="let attr of selectedApi.availableAttributes" [value]="attr">
            {{ attr }}
          </option>
        </select>
      </div>
    </ng-container>

    <div class="button-group">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button 
        type="submit" 
        [disabled]="!queryForm.valid">
        Save
      </button>
    </div>
  </form>
</div>
